target/
build/*
buildSrc/build/*
*.iml
.idea/
.gradle/
*.log
*.iws
*.ipr
.DS_Store
out/
.sass-cache
node_modules/
bower_components

*-manifest.json

npm.err

icomoon.*

.vagrant
**/nohup.out
**/*.hprof
.shelf/
classes/
tmp*